<div class="container py-5">
	<div class="text-center mb-5">
		<h1 class="display-4 fw-bold"><i class="bi bi-info-circle"></i> Sobre Mim</h1>
		<p class="lead text-muted">Minha paixão é transformar ideias em realidade por meio de soluções inovadoras e criativas.</p>

		<div class="card mb-5 mx-auto" style="max-width: 350px;">
			<img src="~/imagem/captura de tela 2025-05-30 085207.png" />
			<div class="card-body">
				<h5 class="card-title">Sobre mim</h5>
				<p class="card-text">Olá me chamo Rayane, tenho 16 anos e estudo Desenvolvimento de Sistemas no SENAI em 2025, fiz curso de Operador de Suporte Técnico em Tecnologia da Informação em 2024 no SENAI.  </p>
				<a asp-controller="Home" asp-action="Index" class="btn btn-info btn-lg btn-sm btn-">Voltar a tela incial</a>

			</div>
		</div>
